__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

.env
*.key
*.pem
*.log

hf-cache/
.cache/
*.safetensors
checkpoints/

data/nextqa/videos/
data/raw/
*.mp4
*.avi
*.mov
*.mkv

results/**/uniform_frames/
results/**/random_frames/
results/**/clip_topk_frames/
results/**/qatss_frames/

results/**/uniform_grid.jpg
results/**/random_grid.jpg
results/**/clip_topk_grid.jpg
results/**/qatss_grid.jpg